@import '_app';

body.index {
  height: 100vh;

  > .container-fluid {
    > .row {
      > .panel {
        height: 100vh;
        display: flex;
        align-items: center;

        > iframe {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
